<table class='table'>
  <thead>
    <tr>
      <th ng-repeat='header in headers'>{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='row in data track by $index'>
      <td ng-repeat='column in headers track by $index'
        ng-mouseenter="highlight($index, $parent.$index)"
        ng-mouseleave="resetHighlight()"
        class='{{CellColor[row[column]] || "feat"}}'
        ng-class="[{ hover: ($index == colHover || $parent.$index == rowHover) }]"
        >
        {{row[column]}}
      </td>
    </tr>
  </tbody>
</table>

